
#wrapper {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	left:0px;
	top:0px;
	width:1280px;
	height:1024px;
}

#dua-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:60px;
}

#dua-02 {
	position:absolute;
	left:0px;
	top:60px;
	width:1280px;
	height:40px;
}

#dua-03 {
	position:absolute;
	left:0px;
	top:100px;
	width:40px;
	height:924px;
}

#dua-04 {
	position:absolute;
	left:40px;
	top:100px;
	width:360px;
	height:490px;
}

#dua-05 {
	position:absolute;
	left:400px;
	top:100px;
	width:30px;
	height:20px;
}

#dua-06 {
	position:absolute;
	left:430px;
	top:100px;
	width:110px;
	height:50px;
}

#dua-07 {
	position:absolute;
	left:540px;
	top:100px;
	width:200px;
	height:20px;
}

#dua-08 {
	position:absolute;
	left:740px;
	top:100px;
	width:110px;
	height:46px;
}

#dua-09 {
	position:absolute;
	left:850px;
	top:100px;
	width:30px;
	height:20px;
}

#dua-10 {
	position:absolute;
	left:880px;
	top:100px;
	width:400px;
	height:609px;
}

#dua-11 {
	position:absolute;
	left:400px;
	top:120px;
	width:30px;
	height:30px;
}

#dua-12 {
	position:absolute;
	left:540px;
	top:120px;
	width:200px;
	height:26px;
}

#dua-13 {
	position:absolute;
	left:850px;
	top:120px;
	width:30px;
	height:26px;
}

#dua-14 {
	position:absolute;
	left:540px;
	top:146px;
	width:54px;
	height:24px;
}

#dua-15 {
	position:absolute;
	left:594px;
	top:146px;
	width:16px;
	height:115px;
}

#dua-16 {
	position:absolute;
	left:610px;
	top:146px;
	width:53px;
	height:24px;
}

#dua-17 {
	position:absolute;
	left:663px;
	top:146px;
	width:26px;
	height:45px;
}

#dua-18 {
	position:absolute;
	left:689px;
	top:146px;
	width:43px;
	height:24px;
}

#dua-19 {
	position:absolute;
	left:732px;
	top:146px;
	width:24px;
	height:45px;
}

#dua-20 {
	position:absolute;
	left:756px;
	top:146px;
	width:48px;
	height:24px;
}

#dua-21 {
	position:absolute;
	left:804px;
	top:146px;
	width:24px;
	height:45px;
}

#dua-22 {
	position:absolute;
	left:828px;
	top:146px;
	width:45px;
	height:24px;
}

#dua-23 {
	position:absolute;
	left:873px;
	top:146px;
	width:7px;
	height:45px;
}

#dua-24 {
	position:absolute;
	left:400px;
	top:150px;
	width:60px;
	height:20px;
}

#dua-25 {
	position:absolute;
	left:460px;
	top:150px;
	width:16px;
	height:41px;
}

#dua-26 {
	position:absolute;
	left:476px;
	top:150px;
	width:48px;
	height:20px;
}

#dua-27 {
	position:absolute;
	left:524px;
	top:150px;
	width:16px;
	height:41px;
}

#dua-28 {
	position:absolute;
	left:400px;
	top:170px;
	width:60px;
	height:21px;
}

#dua-29 {
	position:absolute;
	left:476px;
	top:170px;
	width:48px;
	height:21px;
}

#dua-30 {
	position:absolute;
	left:540px;
	top:170px;
	width:54px;
	height:21px;
}

#dua-31 {
	position:absolute;
	left:610px;
	top:170px;
	width:53px;
	height:21px;
}

#dua-32 {
	position:absolute;
	left:689px;
	top:170px;
	width:43px;
	height:21px;
}

#dua-33 {
	position:absolute;
	left:756px;
	top:170px;
	width:48px;
	height:25px;
}

#dua-34 {
	position:absolute;
	left:828px;
	top:170px;
	width:45px;
	height:21px;
}

#dua-35 {
	position:absolute;
	left:400px;
	top:191px;
	width:60px;
	height:60px;
}

#dua-36 {
	position:absolute;
	left:460px;
	top:191px;
	width:10px;
	height:518px;
}

#dua-37 {
	position:absolute;
	left:470px;
	top:191px;
	width:60px;
	height:60px;
}

#dua-38 {
	position:absolute;
	left:530px;
	top:191px;
	width:10px;
	height:518px;
}

#dua-39 {
	position:absolute;
	left:540px;
	top:191px;
	width:54px;
	height:60px;
}

#dua-40 {
	position:absolute;
	left:610px;
	top:191px;
	width:60px;
	height:60px;
}

#dua-41 {
	position:absolute;
	left:670px;
	top:191px;
	width:10px;
	height:518px;
}

#dua-42 {
	position:absolute;
	left:680px;
	top:191px;
	width:60px;
	height:60px;
}

#dua-43 {
	position:absolute;
	left:740px;
	top:191px;
	width:16px;
	height:4px;
}

#dua-44 {
	position:absolute;
	left:804px;
	top:191px;
	width:16px;
	height:4px;
}

#dua-45 {
	position:absolute;
	left:820px;
	top:191px;
	width:60px;
	height:60px;
}

#dua-46 {
	position:absolute;
	left:740px;
	top:195px;
	width:10px;
	height:514px;
}

#dua-47 {
	position:absolute;
	left:750px;
	top:195px;
	width:60px;
	height:56px;
}

#dua-48 {
	position:absolute;
	left:810px;
	top:195px;
	width:10px;
	height:514px;
}

#dua-49 {
	position:absolute;
	left:400px;
	top:251px;
	width:60px;
	height:10px;
}

#dua-50 {
	position:absolute;
	left:470px;
	top:251px;
	width:60px;
	height:10px;
}

#dua-51 {
	position:absolute;
	left:540px;
	top:251px;
	width:54px;
	height:10px;
}

#dua-52 {
	position:absolute;
	left:610px;
	top:251px;
	width:60px;
	height:10px;
}

#dua-53 {
	position:absolute;
	left:680px;
	top:251px;
	width:60px;
	height:10px;
}

#dua-54 {
	position:absolute;
	left:750px;
	top:251px;
	width:60px;
	height:10px;
}

#dua-55 {
	position:absolute;
	left:820px;
	top:251px;
	width:60px;
	height:10px;
}

#dua-56 {
	position:absolute;
	left:400px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-57 {
	position:absolute;
	left:470px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-58 {
	position:absolute;
	left:540px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-59 {
	position:absolute;
	left:600px;
	top:261px;
	width:10px;
	height:448px;
}

#dua-60 {
	position:absolute;
	left:610px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-61 {
	position:absolute;
	left:680px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-62 {
	position:absolute;
	left:750px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-63 {
	position:absolute;
	left:820px;
	top:261px;
	width:60px;
	height:60px;
}

#dua-64 {
	position:absolute;
	left:400px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-65 {
	position:absolute;
	left:470px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-66 {
	position:absolute;
	left:540px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-67 {
	position:absolute;
	left:610px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-68 {
	position:absolute;
	left:680px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-69 {
	position:absolute;
	left:750px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-70 {
	position:absolute;
	left:820px;
	top:321px;
	width:60px;
	height:10px;
}

#dua-71 {
	position:absolute;
	left:400px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-72 {
	position:absolute;
	left:470px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-73 {
	position:absolute;
	left:540px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-74 {
	position:absolute;
	left:610px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-75 {
	position:absolute;
	left:680px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-76 {
	position:absolute;
	left:750px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-77 {
	position:absolute;
	left:820px;
	top:331px;
	width:60px;
	height:60px;
}

#dua-78 {
	position:absolute;
	left:400px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-79 {
	position:absolute;
	left:470px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-80 {
	position:absolute;
	left:540px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-81 {
	position:absolute;
	left:610px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-82 {
	position:absolute;
	left:680px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-83 {
	position:absolute;
	left:750px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-84 {
	position:absolute;
	left:820px;
	top:391px;
	width:60px;
	height:10px;
}

#dua-85 {
	position:absolute;
	left:400px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-86 {
	position:absolute;
	left:470px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-87 {
	position:absolute;
	left:540px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-88 {
	position:absolute;
	left:610px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-89 {
	position:absolute;
	left:680px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-90 {
	position:absolute;
	left:750px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-91 {
	position:absolute;
	left:820px;
	top:401px;
	width:60px;
	height:60px;
}

#dua-92 {
	position:absolute;
	left:400px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-93 {
	position:absolute;
	left:470px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-94 {
	position:absolute;
	left:540px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-95 {
	position:absolute;
	left:610px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-96 {
	position:absolute;
	left:680px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-97 {
	position:absolute;
	left:750px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-98 {
	position:absolute;
	left:820px;
	top:461px;
	width:60px;
	height:10px;
}

#dua-99 {
	position:absolute;
	left:400px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-100 {
	position:absolute;
	left:470px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-101 {
	position:absolute;
	left:540px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-102 {
	position:absolute;
	left:610px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-103 {
	position:absolute;
	left:680px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-104 {
	position:absolute;
	left:750px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-105 {
	position:absolute;
	left:820px;
	top:471px;
	width:60px;
	height:60px;
}

#dua-106 {
	position:absolute;
	left:400px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-107 {
	position:absolute;
	left:470px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-108 {
	position:absolute;
	left:540px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-109 {
	position:absolute;
	left:610px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-110 {
	position:absolute;
	left:680px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-111 {
	position:absolute;
	left:750px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-112 {
	position:absolute;
	left:820px;
	top:531px;
	width:60px;
	height:178px;
}

#dua-113 {
	position:absolute;
	left:40px;
	top:590px;
	width:160px;
	height:434px;
}

#dua-114 {
	position:absolute;
	left:200px;
	top:590px;
	width:200px;
	height:24px;
}

#dua-115 {
	position:absolute;
	left:200px;
	top:614px;
	width:200px;
	height:14px;
}

#dua-116 {
	position:absolute;
	left:200px;
	top:628px;
	width:146px;
	height:21px;
}

#dua-117 {
	position:absolute;
	left:346px;
	top:628px;
	width:54px;
	height:81px;
}

#dua-118 {
	position:absolute;
	left:200px;
	top:649px;
	width:146px;
	height:27px;
}

#dua-119 {
	position:absolute;
	left:200px;
	top:676px;
	width:66px;
	height:20px;
}

#dua-120 {
	position:absolute;
	left:266px;
	top:676px;
	width:80px;
	height:33px;
}

#dua-121 {
	position:absolute;
	left:200px;
	top:696px;
	width:66px;
	height:13px;
}

#dua-122 {
	position:absolute;
	left:200px;
	top:709px;
	width:709px;
	height:50px;
}

#dua-123 {
	position:absolute;
	left:909px;
	top:709px;
	width:371px;
	height:121px;
}

#dua-124 {
	position:absolute;
	left:200px;
	top:759px;
	width:709px;
	height:17px;
}

#dua-125 {
	position:absolute;
	left:200px;
	top:776px;
	width:95px;
	height:26px;
}

#dua-126 {
	position:absolute;
	left:295px;
	top:776px;
	width:614px;
	height:26px;
}

#dua-127 {
	position:absolute;
	left:200px;
	top:802px;
	width:709px;
	height:148px;
}

#dua-128 {
	position:absolute;
	left:909px;
	top:830px;
	width:23px;
	height:194px;
}

#dua-129 {
	position:absolute;
	left:932px;
	top:830px;
	width:140px;
	height:50px;
}

#dua-130 {
	position:absolute;
	left:1072px;
	top:830px;
	width:208px;
	height:194px;
}

#dua-131 {
	position:absolute;
	left:932px;
	top:880px;
	width:140px;
	height:20px;
}

#dua-132 {
	position:absolute;
	left:932px;
	top:900px;
	width:140px;
	height:50px;
}

#dua-133 {
	position:absolute;
	left:200px;
	top:950px;
	width:709px;
	height:74px;
}

#dua-134 {
	position:absolute;
	left:932px;
	top:950px;
	width:140px;
	height:74px;
}